%article.video
  .container
    .row
      .video_large_cover.col-sm-7.col-sm-offset-1
        %img(src="#{@video.large_cover_url}")
      .video_info.col-sm-3
        %header
          %h3= @video.title
          %span Rating: #{@reviews.average(:rating).to_f.round(1)}/5.0
        %p= @video.description 
        .actions
          %a.btn.btn-primary(href="") Watch Now
          - unless logged_in? and current_user.in_my_queue?(@video)
            = link_to "+ My Queue", queue_items_path(video_slug: @video.slug), {class: "btn btn-default", method: :post}

%section.reviews.container
  .row
    .col-sm-10.col-sm-offset-1
      =form_for [@video, Review.new] do |f|
        %fieldset
          .form-group
            %label Rate this video
            .row
              .col-sm-3
                = f.select :rating, options_tag_for_rating, {class: "form-control"}
          .form-group
            %label Write Review
            .row
              .col-sm-8
                = f.text_area :body, rows: 6, class: "form-control"
        %fieldset.form-group.actions.clearfix
          = f.submit "submit", {class: "btn"}
          %a(href="") Cancel
      %header
        %h3 User Reviews (#{@video.reviews.size})
      %ul
        = render @reviews